@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: #1E1E1E;
    display: flex;
    align-items: center;
    position: relative;
}

.logo{
    background-image: url(gambar/Group_18__1_-removebg-preview.png);
    width: 90px;
    height: 70px;
    background-size:cover;
    margin-left: 20px;
}

.mycanteen{
    background-image: url(gambar/My\ Canteen.png);
    width: 150px;
    height: 30px;
    background-size:cover;
    margin-top: 10px;
}


#kategori{
    text-align: end;
    width: 170px;
    height: 40px;
    font-size: 18px;
    background-color: #1E1E1E;
    color: #ffffff;
    border: none;
    margin-left: 930px;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}

/* #kategori img{
    position: relative;
    top: 5px;
} */

/* nav .tombolkategori{
    position: absolute;
    top: calc(80%);
    right: 560px;
    width: 200px;
    min-height: 100px;
    background-color: aqua;
    visibility: hidden;
    opacity: 0;
}

nav .tombolkategori.active{
    opacity: 1;
    visibility: visible;
} */


#cari{
    height: 30px;
    width: 300px;
    border-radius: 15px;
    margin-left: 20px;
    padding-left: 40px;
    font-size: 17px;
}

.gmbrcari{
    width: 20px;
    position: relative;
    left: -337px;
    top: 5px;
}

.keranjang{
    background-image: url(gambar/trolley-cart\ 1.png);
    width: 30px;
    height: 30px;
    background-size:cover;
}

.notif{
    background-image: url(gambar/notif.png);
    width: 30px;
    height: 30px;
    background-size:cover;
    margin-left: 20px;
    margin-top: 6px;
}

.kepala{
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
}

nav .profile{
    position: relative;
    cursor: pointer;
}

nav .tombolprofile{
    text-align: start;
    position: absolute;
    top: calc(80%);
    right: 20px;
    width: 240px;
    min-height: 100px;
    background-color: whitesmoke;
    visibility: hidden;
    opacity: 0;
    border: 2px solid rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    box-shadow: 7px 15px 15px -3px rgba(0,0,0,0.2);

}

nav .tombolprofile.active{
    opacity: 1;
    visibility: visible;
}

nav .tombolprofile p{
    margin-top: -10px;
}

.list{
    margin-left: -20px;
    list-style: none;
    padding-top: 5px;
    padding-bottom: -20px;
}

.list div{
    display: flex;
}

.list div p{
    margin-top: -2px;
    font-size: 17px;
    font-weight: 500;
    
}

.list img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.signout{
    width: 10px;
    height: 10px;
}

.list li a{
    text-decoration: none;
    color: #1E1E1E;
}


.rekomendasi{
    width: 98%;
    height: auto;
    /* background-color: aqua; */
    margin-inline: auto;
    font-size: 19px;
    
}

.menu{
    height: auto;
    /* background-color: rgb(200, 255, 0); */
    margin-inline: auto;
    margin-top: -10px;
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    font-weight: 400;
}

.kotak{
    width: 290px;
    height: 270px;
    /* background-color: blue; */
    border-radius: 10px;
    display: grid;
    grid-template-rows: 180px 20px 20px;
    border: 1px solid rgba(0, 0, 0, 0.219);
    box-shadow: 5px 6px 19px -2px rgba(0,0,0,0.38);
}

.kotak div img{
    border-radius: 10px 10px 0 0;
}

.namamenu{
    margin-top: -15px;
    margin-left: 10px; 
}

.harga{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 23px;
    margin-top: 5px;
    margin-left: 10px;
}

.harga img{
    margin-left: 43px;
    margin-top: 15px;
}

.laris{
    width: 98%;
    height: auto;
    background-color: rgba(0, 255, 255, 0);
    margin-inline: auto;
    font-size: 20px;
    margin-top: 40px;
}